<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.customer.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.customer.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDriverServlet</servlet-name>
        <servlet-class>com.customer.controller.admin.RegisterDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>com.customer.controller.admin.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <servlet-class>com.customer.controller.admin.UpdateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>com.customer.controller.driver.DriverLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverLogoutServlet</servlet-name>
        <servlet-class>com.customer.controller.driver.DriverLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingServlet</servlet-name>
        <servlet-class>com.customer.controller.CustomerBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <servlet-class>com.customer.controller.ConfirmBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookingStatusServlet</servlet-name>
        <servlet-class>com.customer.controller.CheckBookingStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDriverServlet</servlet-name>
        <servlet-class>com.customer.controller.admin.AssignDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverTripServlet</servlet-name>
        <servlet-class>com.customer.controller.driver.DriverTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaitingForTripServlet</servlet-name>
        <servlet-class>com.customer.controller.driver.WaitingForTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteTripServlet</servlet-name>
        <servlet-class>com.customer.controller.driver.CompleteTripServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.customer.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <!-- Default page for the web app -->
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDriverServlet</servlet-name>
        <url-pattern>/RegisterDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <url-pattern>/UpdateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/DriverLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverLogoutServlet</servlet-name>
        <url-pattern>/DriverLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingServlet</servlet-name>
        <url-pattern>/CustomerBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <url-pattern>/ConfirmBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookingStatusServlet</servlet-name>
        <url-pattern>/CheckBookingStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDriverServlet</servlet-name>
        <url-pattern>/AssignDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverTripServlet</servlet-name>
        <url-pattern>/DriverTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaitingForTripServlet</servlet-name>
        <url-pattern>/WaitingForTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteTripServlet</servlet-name>
        <url-pattern>/CompleteTripServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
